@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Style+Script&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  padding: 0;
  background-color: #171717; /* Same as bg-neutral-950 */
}
